-e git+ssh://git@github.com/ccwoolfolk/bdd.git@4bc81b14af0878b0caaa97569e4097300f78d9ce#egg=bdd
black==24.4.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
idna==3.7
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
PyYAML==6.0.1
requests==2.32.3
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.1
websocket-client==1.8.0
